#============================================================
# Git Ignore File
#============================================================

#-- Python --#
.venv/

#-- Ansible --#
ansible/roles/galaxy_roles/
