#============================================================
# Git Ignore File
#============================================================

#-- Python --#
.venv/

#-- Ansible --#
ansible/roles/
ansible/collections/
