# -------------------------------------------------
# DOCKER COMPOSE FILE FOR AUTHELIA
# -------------------------------------------------

services:
  authelia:
    # -------------------------
    # IMAGE / CONTAINER
    # -------------------------
    image: authelia/authelia:latest
    container_name: authelia
    restart: unless-stopped

    # -------------------------
    # CONFIG / DATA
    # -------------------------
    volumes:
      - /opt/volumes/authelia/config:/config
      - /opt/volumes/authelia/data:/data

    # -------------------------
    # ENVIRONMENT
    # -------------------------
    env_file:
      - .env
    environment:
      - TZ=${TZ}
      - AUTHELIA_CONFIG=/config/configuration.yml

    # -------------------------
    # NETWORKS
    # -------------------------
    networks:
      - traefik-net

    labels:
      # -------------------------
      # ENABLE TRAEFIK
      # -------------------------
      - traefik.enable=true

      # -------------------------
      # ROUTER (AUTHELIA PORTAL)
      # -------------------------
      - traefik.http.routers.authelia.rule=Host(`${AUTHELIA_DOMAIN}`)
      - traefik.http.routers.authelia.entrypoints=websecure
      - traefik.http.routers.authelia.tls=true
      - traefik.http.routers.authelia.tls.certresolver=certs

      # -------------------------
      # MIDDLEWARES
      # -------------------------
      - traefik.http.routers.authelia.middlewares=global@file

      # -------------------------
      # SERVICE PORT
      # -------------------------
      - traefik.http.services.authelia.loadbalancer.server.port=9091

networks:
  # -------------------------
  # EXTERNAL NETWORK
  # -------------------------
  traefik-net:
    external: true
